.content2{
    flex-direction: column;
}
.content2 img{
    display: block;
    width: 100%;
    padding: 5px;
}
.content2{
    width: 80%;
    margin: 3px auto;
    
}
main.content .cards img{
    margin: 2px auto;
}
@media only screen and (max-width: 850px){
    .content {
        flex-direction: column;
    }
    main .content .cards{
        /* border: 2px solid black; */
        width: 70%;
        margin: 10px auto;
        /* flex-direction: row; */
    }
    main .content img{
        margin: 2px auto;
    }
}
@media only screen and (max-width: 800px){
    header .home .sub-home p{
        font-size: 13px;
    }
    header .home .sub-home h1{
        font-size: 35px;
    }
    header .home .sub-home{
        height: 65vh;
        margin-top: 30px;
    }
    header .form form label{
        font-size: 15px;
    }
    header .form form input{
        height: 22px;
    }
    header .form form input[type="submit"]{
        height: 30px;
    }
    header .form{
        height: 70vh;
    }
    header nav{
        flex-direction: column;
        height: 85px;

    }
    header nav .btn1{
        position: absolute;
        top: 52px;
        right: -5px;
        padding: 3px 8px;
    }
    header nav ul li a {
        font-size: 15px;
    }


}
@media only screen and (max-width: 720px){
    header nav ul  {
        position: absolute;
        left: 0px;
        top: 53px;
    }

    .content2{
        font-size: 12px;
    }
    .content2 img{
        height: 300px;
    }
    header .form{
        display: none;
    }
    header .home .sub-home{
        width: 80%;
        margin: 30px auto;
        margin-left: 40px;

    }
    footer p{
        font-size: 12px;
    }
    footer h3{
        font-size: 16px;
    }
    footer{
        height: 200px;
    }

}
@media only screen and (max-width: 530px){
    header nav ul li a {
        font-size: 12px;
        margin-top: 3px;
        padding: 0 15px;
    }
    header nav .btn1 {
        top: 8px;
    }
    .content2 img{
        height: 200px;
    }
    .content2 p{
        font-size: 10px;
    }
    header .home .sub-home{
        width: 70%;
    }

}
