* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
/* Header */
header {
  background: linear-gradient(rgba(14, 27, 77, 0.4), rgba(14, 27, 77, 0.4)),
    url(https://images.unsplash.com/photo-1497366754035-f200968a6e72?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  width: 100vw;
}
/* Navigation Bar */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
nav::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: -1;
}
header nav ul {
  display: flex;
}
header nav ul li {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  list-style: none;
  display: inline-block;
  position: relative;
}
header nav ul li a::after {
  content: "";
  width: 0%;
  display: block;
  height: 2px;
  background: #33d4d6;
  margin: auto;
  transition-duration: 0.6s;
  transition-property: width;
}
header nav ul li a:hover:after {
  width: 100%;
}

header nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  display: block;
  padding: 0 20px;
  font-size: 18px;
  letter-spacing: 1px;
}

header nav .btn1 {
  padding: 6px 12px;
  margin: 0 30px;
  border-radius: 10px;
  color: #33d4d6;
  border: 1px solid #33d4d6;
  background: transparent;
  font-size: 16px;
  transition-duration: 0.5s;
}
header nav .btn1:hover {
  background-color: #33d4d6;
  color: whitesmoke;
}
header nav .logo {
  margin-left: 13px;
}

/* SUB-Home */
header .home .sub-home {
  color: white;
  width: 42%;
  text-align: center;
  position: relative;
  top: 0px;
  z-index: 1;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px auto;
}
header .home .sub-home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0px;
  left: 0px;
  padding: 20px;
  opacity: 0.3;
  background-color: rgb(44, 43, 43);
}
header .home .sub-home h1 {
  font-size: 50px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 900;
}
header .home .sub-home p {
  font-size: 16px;
  padding: 5px;
  /* letter-spacing: 1px; */
  font-weight: 500;
}
header .home .sub-home .btn2 {
  margin-top: 10px;
  padding: 6px 12px;
  border-radius: 6px;
  background-color: #33d4d6;
  border: 1px solid #33d4d6;
  color: white;
  font-size: 16px;
  transition-duration: 0.5s;
  font-weight: 500;
}
header .home .sub-home .btn2:hover {
  background: transparent;
  color: #33d4d6;
}
/* Home */
.home {
  display: flex;
}

/* Form */
.form {
  width: 40%;
  height: 75vh;
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  z-index: 1;
  margin: 16px auto;
  /* background: linear-gradient(rgba(35, 71, 189, 0.3), rgba(35, 71, 189, 0.3)); */
}
/* .form::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0px;
  left: 0px;
  padding: 20px;
  opacity: 0.3;
  background-color: rgb(44, 43, 43);
} */
.form form {
  /* background: linear-gradient(rgba(33, 33, 187, 0.3), rgba(43, 43, 182, 0.3)); */
  width: 75%;
  height: 80%;
  padding: 25px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-top: 35px;
  background-color: rgba(221, 239, 240, 0.815);
}

.form form input {
  width: 90%;
  display: block;
  margin: 2px auto;
  height: 27px;
  border-radius: 6px;
}
.form form textarea {
  display: block;
  margin: 0px auto;
  width: 90%;
  border-radius: 6px;
}
.form form label {
  padding-left: 20px;
  line-height: 1.5;
  font-size: 17px;
}
.form form input[type="submit"] {
  background-color: rgb(40, 40, 78);
  color: white;
  cursor: pointer;
  height: 40px;
  font-size: 15px;
  margin-top: 6px;
}

/* MAIN */
main h1 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}
main .content {
  display: flex;
}
main .content .cards {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  margin: 2px 8px;
  padding: 6px;
  text-align: center;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  transition-duration: 0.4s;
  transition-property: box-shadow;
}
main .content .cards img {
  margin: auto;
}
main .content .cards:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px,
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


/* Content 2  */

.content2{
  display:flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* font-weight: lighter; */
  padding: 10px;
  margin: 5px 10px;
  background-color: rgb(135, 171, 236);
  color: white;
}
.content2 img{
  height: 400px;
  width: 500px;
  margin-right: 20px;
}
.content2 p{
  border: 2px solid rgb(190, 181, 228) ;
  padding: 10px;
  display: inline-block;
  text-align: justify;
  align-self: center;
}
.content2 .btn3{
  display: block;
  text-align: center;
  height: 35px;
  margin: 5px auto;
  padding: 5px;
  /* width: 100px; */
  border-radius: 6px;
  background-color: dodgerblue;
  border: 1px solid #33d4d6;
  color: white;
  font-size: 16px;
  transition-duration: 0.5s;
  font-weight: 500;
}

/* Content 3 */

.content3{
  background-image: url(https://ibradim.org.br/wp-content/uploads/2018/04/mall.jpg);
  background-size: cover;
  height: 50vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 10px ;
  background-attachment: fixed;
}

/* FOOTER */

footer{
  background-color: rgb(30, 30, 31);
  color: white;
  height: 150px;
  padding: 25px;
  text-align: center;
  margin-top: 30px;
  position: relative;
  bottom: 0px;
  left: 0px;
}
footer h3{
  margin-bottom: 10px;
  font-weight: 900;
}
.follow-icons{
  text-align: left;
  margin: 5px;
}
.follow-icons i{
  padding: 10px;
  display: inline-block;
  color: #33d4d6;
  font-size: 18px;
  transition-duration: 0.3s;
}
.follow-icons i:hover{
  color: #81acdd;
}
